
<div class="container rounded">
  <h1>Choisi ici le rêve de tes rêves</h1>
  <% @dreams.each do |dream| %>
  <div class="card" style="width: 18rem;">
    <%= cl_image_tag dream.photo.key, height: 200, width: 285, crop: :fill %>
    <div class="card-body">
      <h5 class="card-title"><%=dream.name%></h5>
      <p class="card-text"><%=dream.details%></p>
      <h5 class="card-title"><%=dream.price%>€</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <%end%>
</div>
