// Define variables for your color scheme
$white: #FFFFFF;
$black: #1D1D1D;
$cyan: #CEF3F0;
$mauve: #F2D9FC;
$pink: #FFEBEB;
$yellow: #FFF9D6;


// For example:
$red: #FFF9D6;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
