h2 {
  padding: 30px;
  color:#E5B4F9;
  text-align: center;
}
.name-price-dashbord {
  display: flex;
  justify-content: space-between;
}

.container-dashbord-create {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

}

.card-dashbord-create {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
  justify-content: center;
  border: none;
  height: 250px;
  width: 270px;
  background-color: white;
  position: relative;

  &:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
}

h5, p {
  color: black;
}

.card-img-dashbord {
  padding-top: 40px;
  width: 100%;
  height:220px;
}
.dashbord-btn-edit {
  color: #29202D;
  padding: 4px 24px;
  border-radius: 4px;
  background: #CEF3F0;
  transition: background 0.3s ease;
  text-decoration: none;
  position: absolute;
  left: 6%;
  top: 95%;
  height: 30px;
  font-size: 15px;


  &:hover {
    background: #FFEBEB;
    color: #29202D;
}
}

.dashbord-btn {
    color: #29202D;
    padding: 4px 24px;
    border-radius: 4px;
    background: #CEF3F0;
    transition: background 0.3s ease;
    text-decoration: none;
    position: absolute;
    left: 48%;
    top: 95%;
    height: 30px;
    font-size: 15px;


  .btn-flat:hover {
    background: #FFEBEB;
    color: #29202D;
  }
}
