body {
  background-color: white;
}

.show-container {
  background-color: white;
}

.show-bloc {
  background-color: white;
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 80%;
  margin-top: 15px ;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
  margin-left: 150px;
  margin-bottom: 100px;
}
.show-h2 {
  text-align: center;
  padding-top: 15px;
}

.show-img {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-left: 50px;
}

.show-infos {
  color: #29202d;
  text-align: left;
  padding-left: 80px;
  padding: 50px;
}

.btn-flat {
  color: #29202d;
  padding: 8px 24px;
  border-radius: 4px;
  background: #cef3f0;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FFEBEB;
  color: #29202d;
}

.modal-content {
  border-radius: 10px;
}

.form {
  background-color: transparent !important;
}

.modal-title {
  text-align: center !important;
  color: #83cdc7;
}

.modal-footer {
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.resa-btn {
  align-items: center;
  border-radius: 50px;
  color: #29202d;
  padding: 8px 24px;
  transition: background 0.3s ease;
  background: #fdd9d9;
  margin-left: 100px;
  align-items: center;
  border-color: transparent !important;
}

.resa-btn:hover {
  background: #cef3f0;
  color: #29202d;
}

.resa-dream-name {
  margin-left: 280px;
  color: #CC96E1;
}

.resa-price {
  display: flex;
  justify-content: space-around;
  color: #CC96E1;
  font-size: larger;
  margin-top: 15px;
  align-items: center;
}

.details-price-resa {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  font-size: large;
  align-items: center;
}
