<div id="footer">
      <p>Retrouvez-nous sur les réseaux sociaux</p>
    <ul>
  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
</div>
