<div class="headers">
  <h2><b>Choisir son rêve? C'est maintenant possible grâce à Dreamscatcher !</b></h2>
</div>

<div class="content" >
  <div class="content-homepage">
    <p>Nous savons que les rêves sont un moyen pour l'inconscient de traiter des informations qu'il a vu dans la journée.  </p>
    <p>Ce processus est très important.
    <p>Mais au delà de cela, ne serait-il pas agréable d'orienter complétement son rêve afin de se réveiller en pleine forme pour la journée ?</p>
    <p class="text-présentation"><b>Avec Dreamscatcher, vous pouvez louer le rêve de votre choix.</b></p>
  </div>
</div>


<div class="flex-container">

  <div class="flex-child magenta">
    <h2><b>Réservez un rêve</b></h2>
    <p>Choisissez parmi les rêves mis en location ! Que vous ayez envie de réconfort, de frisson, de science-fiction ou de passion, vous trouverez le rêve qui correspond à vos envies !</p>
    <a class="btn btn-flat" href="/dreams">Découvrez tous les rêves</a>
  </div>

  <div class="flex-child green">
    <h2><b>Louez votre rêve</b></h2>
    <p>Vous avez une imagination débordante et une envie de partager votre rêve avec le monde ? <br>N'hésitez pas à mettre votre rêve en location.</p>
    <br>
    <a class="btn btn-flat" href="/dreams/new">Louez votre rêve</a>
  </div>
</div>
