<div class="headers">
<h2><b>Choisir son rêve? C'est maintenant possible grâce à Dreamscatcher !</b></h2>
</div>

<div class="content">
<p>Nous savons que les rêves sont un moyen pour l'inconsient de traiter des informations qu'il a vu dans la journée. Ce processus est très important. Mais au dela de ça, ne serait-il pas agréable d'orienter complétement son rêve afin de se réveiller en pleine forme pour la journée? </p>
<p>Avec Dreamscatcher, vous pouvez louer le rêve de votre choix.</p>
</div>


<div class="flex-container">

  <div class="flex-child magenta">
    <h2><b>Louez un rêve</b></h2>
    <p>Choisissez parmi les rêves mis en location! Que vous ayez envi de réconfort, de frisson, de science-fiction ou de passion, nous avons tout!</p>
    <a class="btn btn-flat" href="/dreams">Louez un rêve</a>
  </div>

  <div class="flex-child green">
    <h2><b>Mettez votre rêve en location</b></h2>
    <p>Vous avez une imagination débordante? Une envie de partager votre rêve avec le monde....n'hésitez pas à mettre votre rêve en location.</p>
    <a class="btn btn-flat" href="/dreams/new">Mettez votre rêve en location</a>
  </div>

</div>

<div id="footer">
      <p>Retrouvez nous sur les réseaux sociaux</p>
    <ul>
  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
    </ul>
</div>
