html {
  background: white;
}

.box-container {
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 100px;
  position: center;
  justify-content: center;
  align-items: center;
  color: #29202D;
  box-sizing: unset;
  background-size: cover;
}

.form {
  background: white;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  color: white;
}

.bloc {
  display: flex;
  justify-content: space-between;
  input {
    border-radius: 30px;
  }
}

.col-sm-4 {
  width: 100%;
}

// .create-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
// }

.create-btn {
  border-radius: 50px;
  color: #29202d;
  padding: 8px 24px;
  transition: background 0.3s ease;
  background: #fdd9d9;
  margin-left: 18%;
  align-items: center;
  border-color: transparent !important;
}

.create-btn:hover {
  background: #cef3f0;
  color: #29202d;
}

.div.invalid_feedback {
  color: black;
}

.edit-btn {
  border-radius: 50px;
  color: #29202d;
  padding: 8px 24px;
  transition: background 0.3s ease;
  background: #fdd9d9;
  margin-left: 13%;
  align-items: center;
  border-color: transparent !important;
}

.edit-btn:hover {
  background: #cef3f0;
  color: #29202d;
}
