.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100vw;
}

.navbar-lewagon .title {
  color: #afd6fd;
  justify-content: center;
  display: flex;
  text-shadow: 5px;
  letter-spacing: 2px;
  margin-left: 300px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  height: 100px;
  position: absolute;
  top: 8px;
}

.nav-link{
  color: #29202d;
  border-color: #29202d;
  border-radius: 10px;
}
