.search-btn {
  color: #29202d;
  padding: 8px 24px;
  border-radius: 4px;
  background: #cef3f0;
  transition: background 0.3s ease;
  border: none;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  // padding: 8px;
  width: 90px;
  text-align: center;
}

.search-btn:hover {
  background: #FFEBEB;
  color: #29202d;
}

.form-control {
  background-color: white;
  width: 100%;
}

.index-search {
  position: absolute;
  left: 76%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  height: 30px;
}

.search-position {
  position: relative;
}
